{% load static %}
<div class="spread">
		<div class="center">
			<div style="width: 480px;position: relative;height: 200px;margin:auto;">
				<div class="spread_div" style="margin-right: 110px;">
					<a href="#" class="spread_media spread_blog">
						<img src="{% static 'Douban_pages/imgs/blog2.png' %}" style="position: absolute;left: 23px;top:20px;">
						<span class="label" style="left:23px;">BLOG</span>
					</a>
				</div>
				<div class="spread_div" style="margin-right: 100px;">
					<a href="#" class="spread_media spread_wechat">
						<img src="{% static 'Douban_pages/imgs/wechat2.png' %}" style="position: absolute;left:28px;top:28px;">
						<span class="label">WECHAT</span>
					</a>
				</div>
				<div class="spread_div">
					<a href="#" class="spread_media spread_moment">
						<img src="{% static 'Douban_pages/imgs/moment2.png' %}" style="position: absolute;left: 28px;top:28px;">
						<span class="label" style="left:10px;">MOMENT</span>
					</a>
			 	</div>
			</div>
		</div>
	</div>
	<div class="foot">
		<div class="center">
			<ul class="foot_menu">
				<li>关于我们</li>
				<li>加入我们</li>
				<li>合作伙伴</li>
				<li>广告服务</li>
				<li style="margin-right: 0px;">常见问题</li>
			</ul>
			<p class="copyright">© 2005－2018 douban.com, all rights reserved 北京豆网科技有限公司</p>
		</div>

	</div>