<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>书本列表页</title>
	<link rel="stylesheet" type="text/css" href="{% static "Douban_pages/css/d.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "Douban_pages/css/booklist.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "Douban_pages/css/jquery.mCustomScrollbar.css" %}">
</head>
<body>
	<div class="container">
		<div class="head">
			<div class="center">
				<img src="{% static "Douban_pages/imgs/logo.png" %}" class="douban_logo">
				<ul class="head_list">
					<a class="navi HOME" style="text-decoration: none;" href="{% url 'home' %}">HOME</a>
					<a class="navi BOOK" style="text-decoration: none;" href="{% url 'DouBan_pages:search_result_book' %}">BOOK</a>
					<a class="navi ACTIVITY" style="text-decoration: none;" href="{% url 'DouBan_pages:search_result_article' %}">ARTICLE</a>
					<a class="navi LOGIN" style="margin-right: 0px;text-decoration: none;" href="{% url 'logout' %}">LOGIN</a>
				</ul>
				<div class="head_search_div">
                    <form action="{% url 'DouBan_pages:search_result_article' %}">
					<input type="text" name="search_text" class="head_search" placeholder="请输入关键字">
                    <input type="hidden" name="search_type" value="title">
					<a href="{% url 'DouBan_pages:search_result_article' %}" onclick="document.formtest.submit()"><img src="{% static "Douban_pages/imgs/search.png" %}" class="search_img"></a>
                    </form>
				</div>
			</div>
		</div>
		<div class="new_book">
			<div class="center">
				<div class="fen">
					<img src="{% static "Douban_pages/imgs/can.png" %}" class="fen_line">
					<h2>推荐图书</h2>
				</div>
				<div class="book_div">
					<ul>
						<li>
							<a class="book" href="{% url 'DouBan_pages:book_detail' book1.id %}">
								<img src="{{ book1.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static "Douban_pages/imgs/hahs.png" %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book1.name }}</h2>
								<p class="book_sum">
                                    {{ book1.author }}
								</p>
							</div>
						</li>
						<li>
							<a class="book" href="{% url 'DouBan_pages:book_detail' book2.id %}">
								<img src="{{ book2.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static "Douban_pages/imgs/hahs.png" %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book2.name }}</h2>
								<p class="book_sum">
									{{ book2.author }}
								</p>
							</div>
						</li>
						<li>
							<a class="book" href="{% url 'DouBan_pages:book_detail' book3.id %}">
								<img src="{{ book3.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static "Douban_pages/imgs/hahs.png" %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book3.name }}</h2>
								<p class="book_sum">
									{{ book3.author }}
								</p>
							</div>
						</li>
						<li style="margin-right: 0px;">
							<a class="book" href="{% url 'DouBan_pages:book_detail' book4.id %}">
								<img src="{{ book4.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static "Douban_pages/imgs/hahs.png" %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book4.name }}</h2>
								<p class="book_sum">
									{{ book4.author }}
								</p>
							</div>
						</li>
					</ul>
					<div class="point">
	    				<div class="circle"></div>
	    				<div class="circle"></div>
	    				<div class="circle"></div>
	    				<div class="circle special" style="margin-right: 0px;"></div>
	    		    </div>
				</div>
			</div>
		</div>
		<div class="new_classify">
			<div class="center">
				<div class="fen">
					<img src="{% static "Douban_pages/imgs/can.png" %}" class="fen_line">
					<h2>书本分类</h2>
				</div>
				<div class="book_cl">
					<div class="class1">
						<div class="class_img">
							<h2>推理<span>悬疑</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="class1">
						<div class="class_img">
							<h2>科学<span>真实</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="class1">
						<div class="class_img">
							<h2>社会<span>民生</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="class1" style="margin-right: 0px;">
						<div class="class_img">
							<h2>世界<span>未来</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="class1 second_line" >
						<div class="class_img">
							<h2>宇宙<span>天体</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="class1 second_line">
						<div class="class_img">
							<h2>历史<span>讲古</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="class1 second_line">
						<div class="class_img">
							<h2>美丽<span>文学</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="class1 second_line" style="margin-right: 0px;">
						<div class="class_img">
							<h2>其他<span>神秘</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="book_cl_right content_2">
						<img src="{% static "Douban_pages/imgs/skj.png" %}" class="delete_right">
						<div class="right_right ">
							<div class="detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="detail third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="detail third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="detail third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include 'base/footer.html' %}
	</div>
	<script src="http://www.jq22.com/jquery/1.9.1/jquery.min.js"></script>
	
	<script type="text/javascript" src="{% static 'Douban_pages/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Douban_pages/js/booklist.js' %}"></script>
	<script>

		(function($){

			$(window).load(function(){

				$(".content_2").mCustomScrollbar({

					scrollInertia:150

				});
				
			});
			timer=setTimeout(function(){$(".mCSB_scrollTools").css({"display":"block"})},200)
			

		})(jQuery);

	</script>
</body>
</html>