<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>书本列表页</title>
	<link rel="stylesheet" type="text/css" href="{% static "Douban_pages/css/d.css" %}">
    	<link rel="stylesheet" href="{% static 'Douban_pages/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static "Douban_pages/css/booklist.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "Douban_pages/css/jquery.mCustomScrollbar.css" %}">
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'Douban_pages/css/normalize.css' %}" />
	<!-- <link rel="stylesheet" type="text/css" href="./css/htmleaf-demo.css"> -->
	<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
	<div class="container1">
		<div class="head">
			<div class="center">
				<img src="{% static "Douban_pages/imgs/logo.png" %}" class="douban_logo">
				<ul class="head_list">
					<a class="navi HOME" style="text-decoration: none;" href="{% url 'home' %}">HOME</a>
					<a class="navi BOOK" style="text-decoration: none;" href="{% url 'DouBan_pages:book_list' %}">BOOK</a>
					<a class="navi ACTIVITY" style="text-decoration: none;" href="{% url 'DouBan_pages:search' %}">ARTICLE</a>
					<a class="navi LOGIN" style="margin-right: 0px;text-decoration: none;" href="{% url 'logout' %}">LOGIN</a>
				</ul>
				<div class="head_search_div">
                    <form action="{% url 'DouBan_pages:search' %}" method="post">
					<input type="text" name="search_text" class="head_search" placeholder="请输入关键字">
                    <input type="hidden" name="search_type" value="title">
					<a href="{% url 'DouBan_pages:search' %}" onclick="document.formtest.submit()"><img src="{% static "Douban_pages/imgs/search.png" %}" class="search_img"></a>
                    </form>
				</div>
			</div>
		</div>
		<div class="center">
			<div class="fen">
					<img src="{% static 'Douban_pages/imgs/can.png' %}" class="fen_line">
					<h2>每日新书</h2>
				</div>
		</div>
		<div class="container" style="height: 450px;overflow: hidden;">
		<div class="trent-slider" style="height: 500px !important;">
			<div class="center">
			<div class="t-slide current-t-slide">
				<div class="book_div">
					<ul>
						<li>
                            {% if book1.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book1.id %}" >
                            {% endif %}
								<img src="{{ book1.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book1.name }}</h2>
								<p class="book_sum">
									{{ book1.author }}
								</p>
							</div>
						</li>
						<li>
                            {% if book2.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book2.id %}" >
                            {% endif %}
								<img src="{{ book2.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book2.name }}</h2>
								<p class="book_sum">
									{{ book2.author }}
								</p>
							</div>
						</li>
						<li>
                            {% if book3.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book3.id %}" >
                            {% endif %}
								<img src="{{ book3.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book3.name }}</h2>
								<p class="book_sum">
									{{ book3.author }}
								</p>
							</div>
						</li>
						<li style="margin-right: 0px;">
							{% if book4.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book4.id %}" >
                            {% endif %}
								<img src="{{ book4.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book4.name }}</h2>
								<p class="book_sum">
									{{ book4.author }}
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="t-slide">
				<div class="book_div">
					<ul>
						<li>
                            {% if book5.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book5.id %}" >
                            {% endif %}
								<img src="{{ book5.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book5.name }}</h2>
								<p class="book_sum">
									{{ book5.author }}
								</p>
							</div>
						</li>
						<li>
                            {% if book6.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book6.id %}" >
                            {% endif %}
								<img src="{{ book6.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book6.name }}</h2>
								<p class="book_sum">
									{{ book6.author }}
								</p>
							</div>
						</li>
						<li>
                            {% if book7.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book7.id %}" >
                            {% endif %}
								<img src="{{ book7.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book7.name }}</h2>
								<p class="book_sum">
									{{ book7.author }}
								</p>
							</div>
						</li>
						<li style="margin-right: 0px;">
							{% if book8.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book8.id %}" >
                            {% endif %}
								<img src="{{ book8.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book8.name }}</h2>
								<p class="book_sum">
									{{ book8.author }}
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="t-slide">
				<div class="book_div">
					<ul>
						<li>
                            {% if book9.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book9.id %}" >
                            {% endif %}
								<img src="{{ book9.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book9.name }}</h2>
								<p class="book_sum">
									{{ book9.author }}
								</p>
							</div>
						</li>
						<li>
                            {% if book10.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book10.id %}" >
                            {% endif %}
								<img src="{{ book10.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book10.name }}</h2>
								<p class="book_sum">
									{{ book10.author }}
								</p>
							</div>
						</li>
						<li>
                            {% if book11.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book11.id %}" >
                            {% endif %}
								<img src="{{ book11.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book11.name }}</h2>
								<p class="book_sum">
									{{ book11.author }}
								</p>
							</div>
						</li>
						<li style="margin-right: 0px;">
							{% if book12.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book12.id %}" >
                            {% endif %}
								<img src="{{ book12.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book12.name }}</h2>
								<p class="book_sum">
									{{ book12.author }}
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="t-slide">
				<div class="book_div">
					<ul>
						<li>
                            {% if book13.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book13.id %}" >
                            {% endif %}
								<img src="{{ book13.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book13.name }}</h2>
								<p class="book_sum">
									{{ book13.author }}
								</p>
							</div>
						</li>
						<li>
                            {% if book14.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book14.id %}" >
                            {% endif %}
								<img src="{{ book14.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book14.name }}</h2>
								<p class="book_sum">
									{{ book14.author }}
								</p>
							</div>
						</li>
						<li>
                            {% if book15.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book15.id %}" >
                            {% endif %}
								<img src="{{ book15.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book15.name }}</h2>
								<p class="book_sum">
									{{ book15.author }}
								</p>
							</div>
						</li>
						<li style="margin-right: 0px;">
							{% if book16.id == 0 %}
                            <a class="book"  href="{% url 'home' %}" >
                            {% else %}
                            <a class="book"  href="{% url 'DouBan_pages:book_detail' book16.id %}" >
                            {% endif %}
								<img src="{{ book16.src }}" class="book_img">
								<div class="white_background"></div>
								<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
							</a>
							<div class="book_intro">
								<h2 class="book_name">{{ book16.name }}</h2>
								<p class="book_sum">
									{{ book16.author }}
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="t-slider-controls">
				<div class="t-load-bar">
					<div class="inner-load-bar"></div>
				</div>
				<div class="t-dots-container">
					<div class="t-slide-dots-wrap">
						<div class="t-slide-dots">

						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		<div class="new_classify">
			<div class="center">
				<div class="fen">
					<img src="{% static "Douban_pages/imgs/can.png" %}" class="fen_line">
					<h2>书本分类</h2>
				</div>
				<div class="book_cl">
					<div class="class class1">
						<div class="class_img">
							<h2>推理<span>悬疑</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="class class2">
						<div class="class_img">
							<h2>科学<span>真实</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="class class3">
						<div class="class_img">
							<h2>社会<span>民生</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="class class4" style="margin-right: 0px;">
						<div class="class_img">
							<h2>世界<span>未来</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="class class5 second_line" >
						<div class="class_img">
							<h2>宇宙<span>天体</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="class class6 second_line">
						<div class="class_img">
							<h2>历史<span>讲古</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="class class7 second_line">
						<div class="class_img">
							<h2>美丽<span>文学</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="class class8 second_line" style="margin-right: 0px;">
						<div class="class_img">
							<h2>其他<span>神秘</span></h2>
							<img src="{% static "Douban_pages/imgs/li.png" %}">
						</div>
						<img src="{% static "Douban_pages/imgs/cs.png" %}" class="sep">
						<div class="ph">
							<p>
								推理小说是以推理方式解开故事谜题 (大多数是找出杀人凶手) 的一种小说，通常故事都含有凶杀案与侦探，亦有部分并非以凶杀为主要剧情走。诸如找寻失物或是找寻事件的谜底等。
							</p>
						</div>
					</div>
					<div class="book_cl_right right1">
						<img src="{% static "Douban_pages/imgs/skj.png" %}" class="delete_right">
						<div class="right_right ">
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
                            <div class="page_turn">
								<button class="button home first_home">首页</button>
                                <button class="button before first_before" type="submit" name="before_page2" value="before_page2" >上一页</button>
								<button class="button one first_one">1</button>
								<button class="button two first_two">2</button>
								<button class="button next first_next">下一页</button>
								<button class="button last first_last">尾页</button>
							</div>
						</div>
					</div>
                    <div class="book_cl_right right2">
						<img src="{% static "Douban_pages/imgs/skj.png" %}" class="delete_right">
						<div class="right_right ">
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
                            <div class="page_turn">
								<button class="button home first_home">首页</button>
                                <button class="button before first_before" type="submit" name="before_page2" value="before_page2" >上一页</button>
								<button class="button one first_one">1</button>
								<button class="button two first_two">2</button>
								<button class="button next first_next">下一页</button>
								<button class="button last first_last">尾页</button>
							</div>
						</div>
					</div>
                    <div class="book_cl_right right3">
						<img src="{% static "Douban_pages/imgs/skj.png" %}" class="delete_right">
						<div class="right_right ">
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
                            <div class="page_turn">
								<button class="button home first_home">首页</button>
                                <button class="button before first_before" type="submit" name="before_page2" value="before_page2" >上一页</button>
								<button class="button one first_one">1</button>
								<button class="button two first_two">2</button>
								<button class="button next first_next">下一页</button>
								<button class="button last first_last">尾页</button>
							</div>
						</div>
					</div>
                    <div class="book_cl_right right4">
						<img src="{% static "Douban_pages/imgs/skj.png" %}" class="delete_right">
						<div class="right_right ">
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
                            <div class="page_turn">
								<button class="button home first_home">首页</button>
                                <button class="button before first_before" type="submit" name="before_page2" value="before_page2" >上一页</button>
								<button class="button one first_one">1</button>
								<button class="button two first_two">2</button>
								<button class="button next first_next">下一页</button>
								<button class="button last first_last">尾页</button>
							</div>
						</div>
					</div>
                    <div class="book_cl_right right5">
						<img src="{% static "Douban_pages/imgs/skj.png" %}" class="delete_right">
						<div class="right_right ">
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
                            <div class="page_turn">
								<button class="button home first_home">首页</button>
                                <button class="button before first_before" type="submit" name="before_page2" value="before_page2" >上一页</button>
								<button class="button one first_one">1</button>
								<button class="button two first_two">2</button>
								<button class="button next first_next">下一页</button>
								<button class="button last first_last">尾页</button>
							</div>
						</div>
					</div>
                    <div class="book_cl_right right6">
						<img src="{% static "Douban_pages/imgs/skj.png" %}" class="delete_right">
						<div class="right_right ">
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
                            <div class="page_turn">
								<button class="button home first_home">首页</button>
                                <button class="button before first_before" type="submit" name="before_page2" value="before_page2" >上一页</button>
								<button class="button one first_one">1</button>
								<button class="button two first_two">2</button>
								<button class="button next first_next">下一页</button>
								<button class="button last first_last">尾页</button>
							</div>
						</div>
					</div>
                    <div class="book_cl_right right7">
						<img src="{% static "Douban_pages/imgs/skj.png" %}" class="delete_right">
						<div class="right_right ">
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
                            <div class="page_turn">
								<button class="button home first_home">首页</button>
                                <button class="button before first_before" type="submit" name="before_page2" value="before_page2" >上一页</button>
								<button class="button one first_one">1</button>
								<button class="button two first_two">2</button>
								<button class="button next first_next">下一页</button>
								<button class="button last first_last">尾页</button>
							</div>
						</div>
					</div>
                    <div class="book_cl_right right8">
						<img src="{% static "Douban_pages/imgs/skj.png" %}" class="delete_right">
						<div class="right_right ">
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
                            <div class="page_turn">
								<button class="button home first_home">首页</button>
                                <button class="button before first_before" type="submit" name="before_page2" value="before_page2" >上一页</button>
								<button class="button one first_one">1</button>
								<button class="button two first_two">2</button>
								<button class="button next first_next">下一页</button>
								<button class="button last first_last">尾页</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include 'base/footer.html' %}
	</div>
	 	<script src="{% static 'Douban_pages/js/jquery-3.3.1.min.js' %}">></script>

   {% comment %} <script type="text/javascript" src="{% static 'Douban_pages/js/jquery-1.11.0.min.js' %}"></script>{% endcomment %}
	<script type="text/javascript" src="{% static 'Douban_pages/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Douban_pages/js/booklist.js' %}"></script>
	<script>

		(function($){

			$(window).load(function(){

				$(".content_2").mCustomScrollbar({

					scrollInertia:150

				});
				
			});
			timer=setTimeout(function(){$(".mCSB_scrollTools").css({"display":"block"})},200)
			

		})(jQuery);

	</script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
	<script src="{% static 'Douban_pages/js/main.js' %}"></script>
</body>
</html>