<!DOCTYPE html>
<html>
<head>
	<title>个人</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="./css./d.css">
	<link rel="stylesheet" type="text/css" href="./css./collect.css">
</head>
<body>
	<div class="container">
		<div class="head">
		    <div class="center">
		    	<img src="./imgs./logo.png" class="douban_logo">
		    	<ul class="head_list">
		    		<a class="navi HOME" style="text-decoration: none;">HOME</a>
		    		<a class="navi WAITING" style="text-decoration: none;">WRITING</a>
		    		<a class="navi INFORMATION" style="text-decoration: none;">INFORMATION</a>
		    		<a class="navi COLLECTION" style="text-decoration: none;">COLLECTION</a>
		    		<a class="navi LOGOUT" style="margin-right: 0px;text-decoration: none;">LOGOUT</a>
		    	</ul>
		    </div>
	    </div>
	    <div class="background">
	    	<div class="user">
	    		<h1 class="name">阿浦爱曼联的个人主页</h1>
	    		<img src="./imgs./h.jpg" class="portrait">
	    		<input type="" name="" value="我现在对脱单不抱希望了，我只想安静的一夜暴富" class="sign" readonly="readonly">
	    		<img src="./imgs./white.png" class="white white1">
	    	</div>
	    </div>
	    <div class="center">
	    	<div class="fen">
				<img src="./imgs./can.png" class="fen_line">
				<h2>我收藏的文章</h2>
			</div>
			<div style="height: 860px;">
			<div class="text picture_text">
				<div class="text1">
					<img src="./imgs./dd141.jpg" class="text1_img">
					<div class="hidden">
						<img src="./imgs./hush.png">
					</div>
					<div class="message">
						<h2 class="book_name">北大荒</h2>
						<h2 class="book_intro">静寂的天堂鸟</h2>
						<img src="./imgs./you.png" style="width: 40px;position: absolute;bottom: 1px;right: 1px;">
					</div>
				</div>
				<div class="text2">
					<img src="./imgs./dd141.jpg" class="text1_img">
					<div class="hidden">
						<img src="./imgs./hush.png">
					</div>
					<div class="message">
						<h2 class="book_name">北大荒</h2>
						<h2 class="book_intro">静寂的天堂鸟</h2>
						<img src="./imgs./you.png" style="width: 40px;position: absolute;bottom: 1px;right: 1px;">
					</div>
				</div>
				<div class="page_turn">
					<button class="button home first_home">首页</button>
					<button class="button one first_one">1</button>
					<button class="button two first_two">2</button>
					<button class="button next first_next">下一页</button>
					<button class="button last first_last">尾页</button>
				</div>
			</div>
			<div class="text no_text">
				<div class="text_div first" style="margin-top: 20px;">
					<h3 class="subject">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</h3>
					<img src="./imgs./shan.png" class="delete">
				</div>
				<div class="text_div">
					<h3 class="subject">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</h3>
					<img src="./imgs./shan.png" class="delete">
				</div>
				<div class="page_turn2">
					<button class="button home second_home">首页</button>
					<button class="button one second_one">1</button>
					<button class="button two second_two">2</button>
					<button class="button next second_next">下一页</button>
					<button class="button last">尾页</button>
				</div>
			</div>
			</div>
			<div class="fen">
				<img src="./imgs./can.png" class="fen_line">
				<h2>我收藏的文章</h2>
			</div>
			<div class="collect_book">
				<div class="book_div">
				<a class="book">
					<img src="./imgs./sjij.png" class="cover">
					<div class="white_background"></div>
					<img src="./imgs./hahs.png" class="coverage">
				</a>
				<a class="book">
					<img src="./imgs./sjij.png" class="cover">
					<div class="white_background"></div>
					<img src="./imgs./hahs.png" class="coverage">
				</a>
				<a class="book">
					<img src="./imgs./sjij.png" class="cover">
					<div class="white_background"></div>
					<img src="./imgs./hahs.png" class="coverage">
				</a>
				<a class="book">
					<img src="./imgs./sjij.png" class="cover">
					<div class="white_background"></div>
					<img src="./imgs./hahs.png" class="coverage">
				</a>
				<a class="book second_line">
					<img src="./imgs./sjij.png" class="cover">
					<div class="white_background"></div>
					<img src="./imgs./hahs.png" class="coverage">
				</a>
				<a class="book second_line">
					<img src="./imgs./sjij.png" class="cover">
					<div class="white_background"></div>
					<img src="./imgs./hahs.png" class="coverage">
				</a>
				<a class="book second_line">
					<img src="./imgs./sjij.png" class="cover">
					<div class="white_background"></div>
					<img src="./imgs./hahs.png" class="coverage">
				</a>
				<a class="book second_line">
					<img src="./imgs./sjij.png" class="cover">
					<div class="white_background"></div>
					<img src="./imgs./hahs.png" class="coverage">
				</a>
				<div class="page_turn3">
					<button class="button home third_home">首页</button>
					<button class="button one third_one">1</button>
					<button class="button two third_two">2</button>
					<button class="button next third_next">下一页</button>
					<button class="button last third_next">尾页</button>
				</div>
				</div>
			</div>		
	    </div>
        <div class="spread">
		<div class="center">
			<div style="width: 480px;position: relative;height: 200px;margin:auto;">
				<div class="spread_div" style="margin-right: 110px;">
					<a href="#" class="spread_media spread_blog">
						<img src="./imgs./blog2.png" style="position: absolute;left: 23px;top:20px;">
						<span class="label" style="left:23px;">BLOG</span>
					</a>
				</div>
				<div class="spread_div" style="margin-right: 100px;">
					<a href="#" class="spread_media spread_wechat">
						<img src="./imgs./wechat2.png" style="position: absolute;left:28px;top:28px;">
						<span class="label">WECHAT</span>
					</a>
				</div>
				<div class="spread_div">
					<a href="#" class="spread_media spread_moment">
						<img src="./imgs./moment2.png" style="position: absolute;left: 28px;top:28px;">
						<span class="label" style="left:10px;">MOMENT</span>
					</a>
			 	</div>
			</div>
		</div>
	</div>
	<div class="foot">
		<div class="center">
			<ul class="foot_menu">
				<li>关于我们</li>
				<li>加入我们</li>
				<li>合作伙伴</li>
				<li>广告服务</li>
				<li style="margin-right: 0px;">常见问题</li>
			</ul>
			<p class="copyright">© 2005－2018 douban.com, all rights reserved 北京豆网科技有限公司</p>
		</div>
		
	</div>
	</div>
	<script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="./js/collect.js"></script>
</body>
</html>