<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'Douban_pages/css/d.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Douban_pages/css/fourtofour.css' %}">
</head>
<body>
	<div class="container">
		<div class="center">
			<img src="{% static 'Douban_pages/imgs/fiy.png' %}" class="fiy">
			<div class="fang_div">
				<img src="{% static 'Douban_pages/imgs/fang.png' %}" class="fang">
			    <img src="{% static 'Douban_pages/imgs/a404.png' %}" class="a404">
			</div>
			<img src="{% static 'Douban_pages/imgs/sorry.png' %}" class="sorry">
			<button class="return">
				<img src="{% static 'Douban_pages/imgs/take me home.png' %}" class="back">
			</button>
		</div>
	</div>
</body>
</html>