<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>搜索列表页</title>
    <meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'Douban_pages/css/d.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Douban_pages/css/search.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Douban_pages/css/jquery.mCustomScrollbar.css.css' %}">
</head>
<body>
<div class="container">
	<div class="head" id="head">
		<div class="center">
			<img src="{% static 'Douban_pages/imgs/logo.png' %}" class="douban_logo">
			<ul class="head_list">
				<a class="navi HOME" style="text-decoration: none;" href="{% url 'home' %}">HOME</a>
				<a class="navi BOOK" style="text-decoration: none;" href="{% url 'DouBan_pages:book_list' %}">BOOK</a>
				<a class="navi ARTICLE" style="text-decoration: none;" href="{% url 'DouBan_pages:search' %}">ARTICLE</a>
				<a class="navi LOGIN" style="margin-right: 0px;text-decoration: none;" href="{% url 'logout' %}">LOGIN</a>
			</ul>
			<div class="head_search_div">
				<input type="" name="" class="head_search" placeholder="请输入关键字">
				<a href="{% url 'DouBan_pages:search' %}"><img src="{% static 'Douban_pages/imgs/search.png' %}" class="search_img"></a>
			</div>
		</div>
	</div>
	<div class="img">
		<img src="{% static 'Douban_pages/imgs/shh.png' %}" class="img_img">
		<div class="center">
			<div class="fun">
				<h2 class="h1">来豆瓣</h2>
				<h2 class="h2">带你发现生活的美好</h2>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="center">
			<div class="list">
				<a style="text-decoration: none;" class="list_ list_special list_book">图书</a>
				<a style="text-decoration: none;" class="list_ list_normal list_book">作者</a>
				<a style="text-decoration: none;" class="list_ list_normal list_book">书名</a>
				<a style="text-decoration: none;" class="list_ list_special list_text">文章</a>
				<a style="text-decoration: none;" class="list_ list_normal list_text">作者</a>
				<a style="text-decoration: none;" class="list_ list_normal list_text">书名</a>
				<a style="text-decoration: none;" class="list_ list_normal list_text">内容</a>
			</div>
			<div class="detail">
				<div class="detail_head">图书</div>
				<div class="bluefen"></div>
				<div class="detail_main_text">
					<div class="text_">
					    <img src="{% static 'Douban_pages/imgs/djjd.png' %}" class="text_img">
					    <div class="i">
					    	<h2 class="text_name">一个平凡的便利店可以给你所有</h2>
					    	<h3 class="text_author">每扇君的日记</h3>
					    	<p class="text_detail">普通平淡的日常工作与生活 “我明天开始在便利店上班。” 当我在餐桌上告诉家人</p>

					    </div>
					    <a><img src="{% static 'Douban_pages/imgs/eye.png' %}" class="eye"></a>
					    <span class="num">22</span>
					</div>
					<div class="text_">
					    <img src="{% static 'Douban_pages/imgs/djjd.png' %}" class="text_img">
					    <div class="i">
					    	<h2 class="text_name">一个平凡的便利店可以给你所有</h2>
					    	<h3 class="text_author">每扇君的日记</h3>
					    	<p class="text_detail">普通平淡的日常工作与生活 “我明天开始在便利店上班。” 当我在餐桌上告诉家人</p>

					    </div>
					    <a><img src="{% static 'Douban_pages/imgs/eye.png' %}" class="eye"></a>
					    <span class="num">22</span>
					</div>
					<div class="text_">
					    <img src="{% static 'Douban_pages/imgs/djjd.png' %}" class="text_img">
					    <div class="i">
					    	<h2 class="text_name">一个平凡的便利店可以给你所有</h2>
					    	<h3 class="text_author">每扇君的日记</h3>
					    	<p class="text_detail">普通平淡的日常工作与生活 “我明天开始在便利店上班。” 当我在餐桌上告诉家人</p>

					    </div>
					    <a><img src="{% static 'Douban_pages/imgs/eye.png' %}" class="eye"></a>
					    <span class="num">22</span>
					</div>
					<div class="text_">
					    <img src="{% static 'Douban_pages/imgs/djjd.png' %}" class="text_img">
					    <div class="i">
					    	<h2 class="text_name">一个平凡的便利店可以给你所有</h2>
					    	<h3 class="text_author">每扇君的日记</h3>
					    	<p class="text_detail">普通平淡的日常工作与生活 “我明天开始在便利店上班。” 当我在餐桌上告诉家人</p>

					    </div>
					    <a><img src="{% static 'Douban_pages/imgs/eye.png' %}" class="eye"></a>
					    <span class="num">22</span>
					</div>
					<div class="text_">
					    <img src="{% static 'Douban_pages/imgs/djjd.png' %}" class="text_img">
					    <div class="i">
					    	<h2 class="text_name">一个平凡的便利店可以给你所有</h2>
					    	<h3 class="text_author">每扇君的日记</h3>
					    	<p class="text_detail">普通平淡的日常工作与生活 “我明天开始在便利店上班。” 当我在餐桌上告诉家人</p>

					    </div>
					    <a><img src="{% static 'Douban_pages/imgs/eye.png' %}" class="eye"></a>
					    <span class="num">22</span>
					</div>
					<div class="page_turn">
						<button class="button home first_home">首页</button>
						<button class="button one first_one">1</button>
						<button class="button two first_two">2</button>
						<button class="button next first_next">下一页</button>
						<button class="button last first_last">尾页</button>
					</div>
				</div>
				
					<div class="book_cl_right">
						<div class="right_right ">
							<div class="a">
								<a class="book">
									<img src="{% static 'Douban_pages/imgs/s29608420.jpg' %}" class="book_img">
									<div class="white_background"></div>
									<img src="{% static 'Douban_pages/imgs/hahs.png' %}" class="coverage">
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>
							<div class="a third_detail">
								<a class="book">
									<img src="./imgs./s29608420.jpg" class="book_img">
									<div class="white_background"></div>
									<img src="./imgs./hahs.png" class="coverage">	
								</a>
								<div class="book_intro">
									<h2 class="book_name">孤独梦想家</h2>
									<p class="book_sum">
									英] 戴维·巴尼特
									</p>
								</div>
							</div>						
						</div>
						<div class="page_turn">
						<button class="button home second_home">首页</button>
						<button class="button one second_one">1</button>
						<button class="button two second_two">2</button>
						<button class="button next second_next">下一页</button>
						<button class="button last second_last">尾页</button>
					</div>
				</div>
				
			</div>

		</div>
	</div>
	{% include 'base/footer.html' %}
</div>
	<script src="http://www.jq22.com/jquery/1.9.1/jquery.min.js"></script>
	
	<script type="text/javascript" src="{% static 'Douban_pages/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Douban_pages/js/search.js' %}"></script>
</body>
</html>