<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'DouBan_pages:search_result' %}" method="get">
    <input name="Article_or_Book" type="hidden" value="article"> <!--用于区分位于何处的搜索,这个是位于Article的搜索-->
    <select name="search_type">
      <option value ="title">标题</option>
      <option value ="text">内容</option>
      <option value="writer">作者</option>
      <option value ="标题">标题</option>
      <option value ="内容">内容</option>
      <option value="作者">作者</option>
    </select></br>
    <input name="search_text" type="text" maxlength="20"> <br/>
    <input name="search_submit" type="submit"><br/>
</form>
</body>
</html>