<!DOCTYPE html>
<html>
<head>
	<title>个人资料</title>
	<link rel="stylesheet" type="text/css" href="{% static 'Douban_pages/css/d.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Douban_pages/css/userinfo.css' %}">
</head>
<body>
	<div class="container">
		<div class="head">
		    <div class="center">
		    	<img src="{% static 'Douban_pages/imgs/logo.png' %}" class="douban_logo">
		    	<ul class="head_list">
		    		<li class="navi HOME">HOME</li>
		    		<li class="navi WAITING">WAITING</li>
		    		<li class="navi INFORMATION">INFORMATION</li>
		    		<li class="navi COLLECTION">COLLECTION</li>
		    		<li class="navi LOGOUT" style="margin-right: 0px;">LOGOUT</li>
		    	</ul>
		    </div>
	    </div>
	    <div class="backdround">
	    	
	    </div>
	</div>
</body>
</html>