{% extends 'article_base.html' %}

{% block content %}


				
				<div class="personal_body_save_article_content">
					<!-- <div class="personal_body_save_article_inner"> -->
						<ul>
							{% for article in article_list %}
							<li class="personal_body_save_article_1">
								<div class="personal_body_save_article_pic_1"><img src="/static/images/article_pic.png" alt=""></div>
                                <h5 class="personal_body_save_article_title_1"><a href="/detail/{{article.id}}/">{{article.title}}</a></h5>
								<p class="personal_body_save_article_intro_1">{{article.abstract|safe}}……
								</p>
								 <div class="personal_body_save_article_modify"><a href="/change/{{article.id}}/"><img src="/static/images/modify.png" alt=""></a></div>
								 <div class="personal_body_save_article_delete"><a href="/delete/{{article.id}}/"><img src="/static/images/delete.png" alt=""></a></div>
							</li>
							{% endfor %}
						</ul>
									
			{% endblock %}
