<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title></title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'Douban_pages/css/d.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Douban_pages/css/signin.css' %}">
</head>
<body>
	<div class="container">
		<div class="center">
			<img src="{% static 'Douban_pages/imgs/logo2.png' %}" class="douban">
			<div class="form">
				<div class="selete">
					<div class="register in">用户登录</div>
					<div class="register loginin">新用户注册</div>
				</div>
				<div class="main1">
                        <form action="{% url "login" %}" method="post">
					<div class="input_div">
						<span class="username_span">用户名</span>
						<input type="text" name="username" class="username main1_input" placeholder="请输入正确的邮箱地址">
					</div>
					<div class="input_div">
						<span class="password_span">密码</span>
						<input type="text" name="password" class="password main1_input" placeholder="请输入密码">
					</div>
					<div class="input_div">
						<span class="checkword_span">验证码</span>
						<input type="text" name="" class="checkword main1_input">
						<img src="{% static 'Douban_pages/imgs/dd141.jpg' %}" class="checkimg">
					</div>
					<button class="button wel">欢迎回来</button>
					<a class="forget" style="text-decoration: none;">忘记密码？</a>
                        </form>
				</div>
				<div class="main2">
                    <form action="{% url "regist" %}" method="post">
					<div class="input_div">

						<span class="username_span">用户名</span>
						<input type="text" name="email" class="username main1_input" placeholder="请输入正确的邮箱地址">
					</div>
					<div class="input_div">
						<span class="checkword_span">验证码</span>
						<input type="" name="password" class="checkword main2_input" placeholder="请输入验证码">
						<a href="" class="send">发送验证码</a>
					</div>
					<div class="input_div">
						<span class="password_span">密码</span>
						<input type="" name="password" class="password main1_input" placeholder="请输入密码">
					</div>
					
					<button class="button back">欢迎注册</button>
                    </form>
				</div>
				<div class="main3">
					<div class="input_div">
						<span class="username_span">用户名</span>
						<input type="" name="" class="username main1_input" placeholder="请输入正确的邮箱地址">
					</div>
					<div class="input_div">
						<span class="checkword_span">验证码</span>
						<input type="" name="" class="checkword main2_input" placeholder="请输入验证码">
						<a href="" class="send">发送验证码</a>
					</div>
					<div class="input_div">
						<span class="password_span">新密码</span>
						<input type="" name="" class="password main1_input" placeholder="请输入密码">
					</div>					
					<button class="button back">欢迎注册</button>
				</div>
			</d>
		</div>
		
	</div>
	<script type="text/javascript" src="{% static 'Douban_pages/js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Douban_pages/js/signin.js' %}"></script>
</body>
</html>