*{
	font-family: 微软雅黑, sans-serif;}
@font-face{
	font-family: 'a';
	src:url('../fonts./AAA.eot') /*format('embedded-opentype')*/,
		url('../fonts./AAA.woff') /*format('truetype')*/,
		url('../fonts./AAA.otf') /*format('opentype')*/,
		url('../fonts./AAA.woff') ,
		url('../fonts./AAA.svg') /*format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: 'b';
	src:url('../fonts./Helvetica Bold.eot') /*format('embedded-opentype')*/,
		url('../fonts./Helvetica Bold.otf') /*format('truetype')*/,
		url('../fonts./Helvetica Bold.svg') /*format('opentype')*/,
		url('../fonts./Helvetica Bold.ttf') ,
		url('../fonts./Helvetica Bold.woff') /*format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
.head{
	height: 112px;
}
.center{
	width: 1202px;
	margin: auto;
	position: relative;
}
.douban_logo{
	position: absolute;
	top: 30px;
}
.head_list{
	width: 430px;
	height: 20px;
	position: absolute;
	right: 320px;
	top: 50px;
}
.navi{
	float: left;
	font-size: 18px;
	margin-right: 35px;
	font-weight: bold;
	height: 20px;
	line-height:20px;
	padding: 0px 3px 0px 3px;
	cursor: pointer;
	font-family: 'b';
}
.BOOK{
	color: #71CDD8;
	border-left: 4px #FEDFE1 solid;
	border-right: 4px #FEDFE1 solid;
}
.navi:hover{
	color: #71CDD8;
}
.head_search_div{
    width: 300px;
	height: 112px;
	position: absolute;
	right: 0px;
}
.head_search{
	width: 200px;
	height: 33px;
	position: absolute;
	border: 2px #FEDFE1 solid;
	border-radius: 10px;
	top: 49px;
	right: 49px;
	color:grey;
	padding-left: 10px;
	outline: none;
}
.search_img{
	position: absolute;
	right: 10px;
	top: 54px;
	cursor: pointer;
}
.main{
	height: 686px;
	background-color:#D2EDF0;
}
.book_cover{
	width: 312px;
	height: 686px;
	float: left;
	position: relative;
}
.cover{
	width:312px;
	height:426px;
	position: absolute;
	top: 31px;
}
.share{
	position: absolute;
	bottom: 130px;
	right: 75px;
}
.like{
	position: absolute;
    bottom: 130px;
    right: 2px;
	cursor: pointer;
}
.pointview{
	width: 312px;
	height: 82px;
	border-radius: 10px;
	font-size: 23px;
	line-height: 82px;
	text-align: center;
	background-color: white;
	position: absolute;
	color:rgba(113,205,216,1);
	bottom: 20px;
}
.book_review{
	float: right;
	width: 70%;
	height: 686px;
	position: relative;
}
.book_name_sign{
	height: 43px;
	position: absolute;
	top: 31px;
	width: 100%;
	position: relative;
}
.book_name{
	font-size: 43px;
	line-height:43px;
	color: black;
	font-family: 'a';
	float: left;
	letter-spacing: 2px;
}
.book_press{
	font-size: 20px;
	letter-spacing: 2px;
	float: left;
	line-height: 65px;
	padding-left: 10px;
}
.book_sign{
	float: right;
	font-size: 43px;
	line-height: 43px;
	color: black;
	letter-spacing: 3px;
	font-family: 'a';
}
.review_content{
	width: 100%;
	height: 550px;
	position: absolute;
	bottom: 20px;
	background-color: white;
	border-radius: 10px;
}
.pointview_one,.pointview_two{
	height: 200px;
	margin-top: 30px;
	width: 100%;
	position: relative;
}
.page_turn{
	height: 44px;
	position: absolute;
	right: 50px;
	bottom: 20px;
}
.button{
	border:2px solid #CCCCCC;
	background-color: white;
	outline: none;
	color: #CCCCCC;
	letter-spacing: 1px;
	margin-left: 4px;
	cursor: pointer;
}
.button:hover{
	border:none;
	color: white;
	background-color: #F7BDCA;
}
.home{
	width: 70px;
	height: 40px;
}
.home:hover{
	width: 70px;
	height: 40px;
}
.next{
	width: 70px;
	height: 40px;
}
.next:hover{
	width: 70px;
	height: 40px;
}
.one{
	height: 40px;
	width: 40px;
}
.two{
	height: 40px;
	width: 40px;
}
.one:hover{
	height: 40px;
	width: 40px;
}
.two:hover{
	height: 40px;
	width: 40px;
}
.before{
	height: 40px;
	width: 70px;
}
.before:hover{
	height: 40px;
	width: 70px;
}
.last{
	height: 40px;
	width: 70px;
}
.last:hover{
	height: 40px;
	width: 70px;
}
.ranking_time,.ranking_hot{
	font-size: 20px;
	color: black;
	float: right;
	padding-top: 22px;
	margin-right: 30px;
}
.ranking_time:hover{
	color:#71CDD8;
}
.ranking_hot:hover{
	color:#71CDD8;
}
.pointview_one{
	margin-top: 20px;
}
.person_infor{
	float: left;
	height: 200px;
	width: 92px;
	position: relative;
	left: 20px;
}
.portrait{
	height: 70px;
	width: 70px;
	position: absolute;
	top: 0px;
	left: 12px;
}
.name{
	font-size: 23px;
	color:rgba(113,205,216,1);
	position: absolute;
	top: 80px;
	width: 92px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	text-align: center;
}
.date{
	font-size: 18px;
	width: 92px;
	text-align: center;
	position: absolute;
	top: 120px;
}
.content_div{
	float: right;
	height: 200px;
	width: 80%;
	position: absolute;
	right:30px; 
	box-shadow: 1px 0px 1px grey;
	border-radius: 10px;
	position: relative;
}
.content_main{
	width: 85%;
	height: 140px;
	padding: 10px;
	margin: auto;
}
.content_main_em{
	font-size: 23px;
	overflow: hidden;
	line-height: 35px;
	height: 140px;
	width: 100%;
}
.zan{
	position: absolute;
	right: 45px;
	bottom: 10px;
	cursor: pointer;
}
.zan_number{
	position: absolute;
	right: 8px;
	bottom: 7px;
	font-size: 23px;
}
.fen{
	position: relative;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 50px;
}
.fen_line{
	position: absolute;
	top: 20px;
}
.fen h2{
	font-family:'a';
	font-size: 48px;
	margin: auto;
	width: 158px;
	padding-left: 12px;
	padding-right: 12px;
	border-left: 4px #FEDFE1 solid;
	border-right: 4px #FEDFE1 solid;

}
.introduce{
	height: 380px;
	width: 100%;
	position: relative;
	padding-top: 130px;
}
.introduce h3{
	position: absolute;
	left: 0px;
	top: 20px;
	font-size: 27px;
	color: #F8C2CE;
}
.jianjieyou{
	width: 30px;
	position: absolute;
	top: 40px;
	left: 33px;
}
.introduce_content{
	width: 1010px;
	height: 300px;
	margin-top: 100px;
	margin: auto;
	position: relative;
}
.introduce_content_p{
	font-size: 20px;
	overflow: hidden;
}
.content_zuo{
	position:absolute;
	left: -20px;
	top: -20px; 
}
.content_you{
	position: absolute;
	right: -20px;
	bottom: -20px;
}
.author{
	height: 540px;
	width: 100%;
	position: relative;
	padding-top: 100px;
}
.author h3{
	position: absolute;
	left: 0px;
	top: 25px;
	font-size: 27px;
	color: #71CDD8;
}

.author_picture{
	height: 282px;
	width: 700px;
	margin: auto;
	position: relative;
}
.author_picture_{
	width: 188px;
	height:282px;
}
.author_picture_one{
	margin-right: 45px;
}
.author_picture_two{
	margin-right: 45px;
}
.author_content{
	width: 1032px;
	height: 50px;
	margin: auto;
	margin-top: 63px;
}
.author_name{
	color: #71CDD8;
}
.author_intro{
	font-size: 20px;
	line-height: 30px;
}
.disscuss{
	height: 340px;
	width: 100%;
	margin-top: 40px;
	position: relative;
}
.user_picture{
	width: 72px;
	height: 72px;
	position: absolute;
	left: 0px;
}
.user_disscuss{
	width: 84%;
	height: 200px;
	padding:20px 40px 20px 40px;
	font-size: 20px;
	border-radius: 10px;
	position: absolute;
	right:0px;
	outline: none;
	border: none;
	line-height: 20px;
	border:  1px grey solid; 
}
.user_share{
	width:186px;
	height:75px; 
	background:#E8F409;
	border-radius: 10px; 
	border:none;
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 20px;
	letter-spacing: 2px;
	outline: none;
	cursor: pointer;
}
.spread{
	height: 200px;
}
.spread_div{
	height: 200px;
	width: 90px;
	float: left;
	position: relative;
}
.spread_media{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: #E8F409;
	position: absolute;
	top: 35px;
}
.spread_media:hover{
	background-color: #F7BDCA;
}
.spread_media:hover span{
	color: #F7BDCA; 
}
.label{
	font-size: 16px;
	position: absolute;
	color: #71CDD8;
	top: 104px;
	left: 13px;
}
.label:hover{
	color: #F7BDCA;
}
.foot{
	height: 146px;
	width: 100%;
	background-color: #AAE1E8;
	position: relative;
}
.foot_menu{
	width: 100%;
	position: absolute;
	top: 30px;
}
.foot_menu li{
	width: 20%;
	text-align: center;
	float: left;
	color: white;
	font-size: 20px;
	letter-spacing: 3px;
	cursor: pointer;
}
.copyright{
	padding-top: 88px;
	color: white;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
}