*{
	font-family: 微软雅黑, sans-serif;}
@font-face{
	font-family: 'a';
	src:url('../fonts./AAA.eot') /*format('embedded-opentype')*/,
		url('../fonts./AAA.woff') /*format('truetype')*/,
		url('../fonts./AAA.otf') /*format('opentype')*/,
		url('../fonts./AAA.woff') ,
		url('../fonts./AAA.svg') /*format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: 'b';
	src:url('../fonts./Helvetica Bold.eot') /*format('embedded-opentype')*/,
		url('../fonts./Helvetica Bold.otf') /*format('truetype')*/,
		url('../fonts./Helvetica Bold.svg') /*format('opentype')*/,
		url('../fonts./Helvetica Bold.ttf') ,
		url('../fonts./Helvetica Bold.woff') /*format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
.head{
	height: 112px;
}
.center{
	width: 1202px;
	margin: auto;
	position: relative;
}
.douban_logo{
	position: absolute;
	top: 30px;
}
.head_list{
	width: 700px;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 50px;
}
.navi{
	float: left;
	font-size: 18px;
	margin-right: 35px;
	font-weight: bold;
	height: 20px;
	line-height:20px;
	padding: 0px 3px 0px 3px;
	cursor: pointer;
	font-family: 'b';
}
.COLLECTION{
	color: #71CDD8;
	border-left: 4px #FEDFE1 solid;
	border-right: 4px #FEDFE1 solid;
}
.navi:hover{
	color: #71CDD8;
}
.background{
	height: 392px;
	background-image: url("../imgs./uiiguh.png");
	background-repeat: no-repeat;
	width: 100%;
}
.user{
	width: 550px;
	margin:auto;
	height:392px;
	position: relative;
	border-top: 1px solid transparent;
}
.name{
	font-size: 38px;
	color: white;
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
}
.portrait{
	display: block;
	margin:auto;
	width: 134px;
	height: 134px;
	border-radius: 50%;
}
.sign{
	outline: none;
	border:none;
	width: 470px;
	margin-left: 40px;
	margin-top: 60px;
	height: 20px;
	font-size: 20px;
	background-color: transparent;
	color: white;
}
.white{
	position: absolute;
	right: 4px;
	bottom: 44px;
	cursor: pointer;
}
.fen{
	position: relative;
	width: 100%;
	margin-top: 90px;
	margin-bottom: 50px;
	overflow: hidden;
}
.fen_line{
	position: absolute;
	top: 20px;
	left: -10%;
	width: 120%;
}
.fen h2{
	font-family:'a';
	font-size: 48px;
	margin: auto;
	width: 234px;
	padding-left: 12px;
	padding-right: 12px;
	border-left: 4px #FEDFE1 solid;
	border-right: 4px #FEDFE1 solid;
}
.text{
	width:578px;
	height:853px;
}
.picture_text{
	float: left;
	box-shadow:5px 0px 9px rgba(0,0,0,0.28);
}
.no_text{
	float: right;
	box-shadow:5px 0px 9px rgba(0,0,0,0.28);
	padding-top: 1px;
	position: relative;
}
.text1{
	width: 541px;
	height: 349px;
	margin-left: 18px;
    position: relative;
}
.text1_img{
	width: 541px;
	height: 349px;
	z-index: 2;
}
.hidden{
	width: 95px;
	height: 349px;
	z-index: 3;
	background-color: #00AFDB;
	position: absolute;
	opacity:0;
	right: 0px;
	top: 0px;
	cursor: pointer;
	transition: 0.5s;
}
.hidden img{
	position: absolute;
	top: 150px;
	right: 26px;
}
.message{
	width:143px;
	height:80px; 
	background-color: white;
	position: absolute;
	left: 0px;
	bottom: 46px;
}
.book_name{
	color: #71CDD8;
	position: absolute;
	left: 10px;
	top: 17px;
	font-size: 16px;
	font-family: 'a';
}
.book_intro{
	position: absolute;
	left: 10px;
	top: 47px;
	font-size: 16px;
	font-family: 'a';
}
.hidden:hover{
	opacity: 0.62;
}
.text2{
	position: relative;
	margin-top: 24px;
	width: 541px;
	height: 349px;
	margin-left: 18px;
}
.page_turn{
	height: 44px;
	margin-top: 70px;
}
.button{
	border:2px solid #CCCCCC;
	background-color: white;
	outline: none;
	color: #CCCCCC;
	letter-spacing: 1px;
	margin-left: 4px;
	cursor: pointer;
}
.button:hover{
	border:none;
	color: white;
	background-color: #F7BDCA;
}
.home{
	width: 70px;
	height: 40px;
	margin-left: 130px;
}
.home:hover{
	width: 70px;
	height: 40px;
}
.next{
	width: 70px;
	height: 40px;
}
.next:hover{
	width: 70px;
	height: 40px;
}
.one{
	height: 40px;
	width: 40px;
}
.two{
	height: 40px;
	width: 40px;
}
.one:hover{
	height: 40px;
	width: 40px;
}
.two:hover{
	height: 40px;
	width: 40px;
}
.last{
	height: 40px;
	width: 70px;
}
.last:hover{
	height: 40px;
	width: 70px;
}
.text_div{
	height: 30px;
	position: relative;
	margin-top: 27px;
}
.subject{
	width: 471px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-size: 20px;
	color: #00AFDB;
	position:absolute;
	left: 20px;
}
.delete{
	position: absolute;
	right: 20px;
	cursor: pointer;
}
.page_turn2{
	height: 44px;
	position: absolute;
	bottom: 18px;
}
.collect_book{
	width:1200px;
	height:832px; 
	position: relative;
	margin-bottom: 100px;
	box-shadow:5px 0px 9px rgba(0,0,0,0.28) 
}
.book{
	width: 200px;
	height: 280px;
	float: left;
	position: relative;
	margin-right: 69px;
}
.coverage{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 280px;
	cursor: pointer;
	transition:0.8s;
	opacity: 0;
}
.white_background{
	width: 200px;
	height: 280px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color:rgba(255, 255, 255, 0);
	transition:0.8s;
}
.book_div{
	width: 1085px;
	height: 832px;
	position: absolute;
	left: 100px;
	top: 40px;
}
.second_line{
	margin-top: 91px;
}
.book:hover .coverage{
	opacity: 1;
}
.book:hover .white_background{
	background-color:rgba(255, 255, 255, 0.8);
}
.page_turn3{
	position: absolute;
	bottom:80px;
	left: 240px;
}
.spread{
	height: 200px;
}
.spread_div{
	height: 200px;
	width: 90px;
	float: left;
	position: relative;
}
.spread_media{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: #E8F409;
	position: absolute;
	top: 35px;
}
.spread_media:hover{
	background-color: #F7BDCA;
}
.spread_media:hover span{
	color: #F7BDCA; 
}
.label{
	font-size: 16px;
	position: absolute;
	color: #71CDD8;
	top: 104px;
	left: 13px;
}
.label:hover{
	color: #F7BDCA;
}
.foot{
	height: 146px;
	width: 100%;
	background-color: #AAE1E8;
	position: relative;
}
.foot_menu{
	width: 100%;
	position: absolute;
	top: 30px;
}
.foot_menu li{
	width: 20%;
	text-align: center;
	float: left;
	color: white;
	font-size: 20px;
	letter-spacing: 3px;
	cursor: pointer;
}
.copyright{
	padding-top: 88px;
	color: white;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
}
