.container{
	height: 1080px;
	background: #89D4DD;
	width: 100%;
}
.center{
	width: 1423px;
	margin:auto;
	border: 1px transparent solid;
}
.fiy{
	width: 100%;
	margin-top: 50px;
}
.fang_div{
	width: 285px;
	height: 285px;
	margin: 30px auto 30px auto;
	position: relative;
}
.a404{
	position: absolute;
	left: 55px;
	top: 100px;
}
.sorry{
	display: block;
	margin:20px auto 0px auto;
}
.return{
	border-radius: 75px;
	outline: none;
	border: none;
	background-color: white;
	width: 402px;
	height: 150px;
	cursor: pointer;
	margin: 90px auto 0px auto;
	display: block;
}
@media screen and (min-width:980px) and (max-width:1423px){
	.center{
		width: 100%;
	}
}