*{
	font-family: 微软雅黑, sans-serif;}
@font-face{
	font-family: 'a';
	src:url('../fonts./AAA.eot') /*format('embedded-opentype')*/,
		url('../fonts./AAA.woff') /*format('truetype')*/,
		url('../fonts./AAA.otf') /*format('opentype')*/,
		url('../fonts./AAA.woff') ,
		url('../fonts./AAA.svg') /*format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: 'b';
	src:url('../fonts./Helvetica Bold.eot') /*format('embedded-opentype')*/,
		url('../fonts./Helvetica Bold.otf') /*format('truetype')*/,
		url('../fonts./Helvetica Bold.svg') /*format('opentype')*/,
		url('../fonts./Helvetica Bold.ttf') ,
		url('../fonts./Helvetica Bold.woff') /*format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
.head{
	height: 112px;
}
.wrong_message{
	position: fixed;
	left: 0;
	right: 0;
    margin:0 auto;
	width:260px;
	height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	line-height: 30px;
	color: black;
	top: 9%;
	background-color: #FEDFE1;
	z-index: 10000;
	border-radius: 10px;
	border:2px solid #FEDFE1;
	font-family: 'a';
	letter-spacing: 2px;
}

.center{
	width: 1202px;
	margin: auto;
	position: relative;
}
.douban_logo{
	position: absolute;
	top: 30px;
}
.head_list{
	width: 700px;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 50px;
}
.navi{
	float: left;
	font-size: 18px;
	margin-right: 35px;
	font-weight: bold;
	height: 20px;
	line-height:20px;
	padding: 0px 3px 0px 3px;
	cursor: pointer;
	font-family: 'b';
}
.WAITING{
	color: #71CDD8;
	border-left: 4px #FEDFE1 solid;
	border-right: 4px #FEDFE1 solid;
}
.navi:hover{
	color: #71CDD8;
}
.background{
	height: 392px;
	background-image: url("../imgs./uiiguh.png");
	background-repeat: no-repeat;
	width: 100%;
}
.user{
	width: 550px;
	margin:auto;
	height:392px;
	position: relative;
	border-top: 1px solid transparent;
}
.name{
	font-size: 38px;
	color: white;
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
}
.portrait{
	display: block;
	margin:auto;
	width: 134px;
	height: 134px;
	border-radius: 50%;
}
.sign{
	outline: none;
	border:none;
	width: 470px;
	margin-left: 40px;
	margin-top: 60px;
	height: 20px;
	font-size: 20px;
	background-color: transparent;
	color: white;
}
.white{
	position: absolute;
	right: 4px;
	bottom: 44px;
	cursor: pointer;
}
.fen{
	position: relative;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 50px;
	overflow: hidden;
}
.fen_line{
	position: absolute;
	top: 20px;
	left: -20%;
	width: 140%;
}
.fen h2{
	font-family:'a';
	font-size: 48px;
	margin: auto;
	width: 272px;
	padding-left: 12px;
	padding-right: 12px;
	border-left: 4px #FEDFE1 solid;
	border-right: 4px #FEDFE1 solid;
}
.add{
	width: 906px;
	height: 164px;
	margin:70px auto 0px auto;
	border-radius: 10px ;
	border:2px solid #D9D9D9;
	position: relative;
	cursor: pointer;
}
.add_img{
	position: absolute;
	top:36px;
	left: 435px;
}
.add_text{
	position: absolute;top: 103px;
	left: 411px;
	font-size: 20px;
}
.form{
	height: 1203px;
	width: 906px;
	margin: 75px auto 0px auto;
	display: block;
	position: relative;
}
.kong{
	width:906px;
	height:1003px;
	border-radius: 10px;
	border:2px solid #D9D9D9;
}
.sp{
	width:226px;
	height:79px; 
	background:rgba(0,175,219,1);
	border-radius: 10px ;
	box-shadow:0px 0px 5px rgba(0,0,0,0.09) ;
	outline: none;
	border:none;
	font-size:24px;
	color: white;
	position: absolute;
	right: 0px;
	bottom:80px;
	letter-spacing: 2px;
}
.article{
	height: 1300px;
	width: 906px;
	margin: auto; 
}
.article_div{
	width: 100%;
	height: 235px;
	margin-top: 60px;
	position: relative;
	box-shadow: 0px 1px 2px rgb(207,207,207);
}
.article_img{
	position: absolute;
	top: 0px;
	left: 70px;
}
.article_name{
	position: absolute;
	top: 0px;
	left:340px ;
	font-size: 20px;
	letter-spacing: 2px;
}
.article_date{
	position: absolute;
	left: 340px;
	top: 50px;
	font-size: 18px;
	color: rgb(204,204,204);
	letter-spacing: 2px;
}
.pop_windows{
	width: 150px;
	height: 80px;
	position: absolute;
	top: 100px;
	right: 200px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgb(207,207,207);
	display: none;
}
.pop_windows span{
	position: absolute;
	top: 10px;
	left: 33px;
	letter-spacing: 2px;
}
.confirm{
	width: 35px;
	height: 20px;
	position: absolute;
	bottom: 10px;
	left: 30px;
	border:none;
	color: white;
	background-color: #F7BDCA;
	outline: none;
	letter-spacing: 1px;
	cursor: pointer;
	font-size: 14px;
	border-radius: 3px;
}
.cancle{
	width: 35px;
	height: 20px;
	position: absolute;
	bottom: 10px;
	left: 90px;
	border:none;
	color: white;
	background-color: #F7BDCA;
	outline: none;
	letter-spacing: 1px;
	cursor: pointer;
	font-size: 14px;
	border-radius: 3px;
}
.delete2{
	width: 60px;
	height: 35px;
	position: absolute;
	right: 120px;
	bottom: 70px;
	border:none;
	color: white;
	background-color: #F7BDCA;
	outline: none;
	letter-spacing: 1px;
	cursor: pointer;
}
.edit{
	width: 60px;
	height: 35px;
	position: absolute;
	right: 50px;
	bottom: 70px;
	border:2px solid #CCCCCC;
	background-color: white;
	outline: none;
	color: #CCCCCC;
	letter-spacing: 1px;
	cursor: pointer;
}
.page_turn4{
	position: absolute;
	bottom: 70px;
	right:200px;
}
.button{
	border:2px solid #CCCCCC;
	background-color: white;
	outline: none;
	color: #CCCCCC;
	letter-spacing: 1px;
	margin-left: 4px;
	cursor: pointer;
}
.button:hover{
	border:none;
	color: white;
	background-color: #F7BDCA;
}
.home{
	width: 70px;
	height: 40px;
	margin-left: 130px;
}
.home:hover{
	width: 70px;
	height: 40px;
}
.next{
	width: 70px;
	height: 40px;
}
.next:hover{
	width: 70px;
	height: 40px;
}
.one{
	height: 40px;
	width: 40px;
	border:none;
	color: white;
	background-color: #F7BDCA;
}
.two{
	height: 40px;
	width: 40px;
}
.one:hover{
	height: 40px;
	width: 40px;
}
.two:hover{
	height: 40px;
	width: 40px;
}
.before{
	height: 40px;
	width: 70px;
}
.before:hover{
	height: 40px;
	width: 70px;
}
.last{
	height: 40px;
	width: 70px;
}
.last:hover{
	height: 40px;
	width: 70px;
}
.spread{
	height: 200px;
}
.spread_div{
	height: 200px;
	width: 90px;
	float: left;
	position: relative;
}
.spread_media{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: #E8F409;
	position: absolute;
	top: 35px;
}
.spread_media:hover{
	background-color: #F7BDCA;
}
.spread_media:hover span{
	color: #F7BDCA; 
}
.label{
	font-size: 16px;
	position: absolute;
	color: #71CDD8;
	top: 104px;
	left: 13px;
}
.label:hover{
	color: #F7BDCA;
}
.foot{
	height: 146px;
	width: 100%;
	background-color: #AAE1E8;
	position: relative;
}
.foot_menu{
	width: 100%;
	position: absolute;
	top: 30px;
}
.foot_menu li{
	width: 20%;
	text-align: center;
	float: left;
	color: white;
	font-size: 20px;
	letter-spacing: 3px;
	cursor: pointer;
}
.copyright{
	padding-top: 88px;
	color: white;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
}