*{
	font-family: 微软雅黑, sans-serif;}
@font-face{
	font-family: 'a';
	src:url('../fonts./AAA.eot') /*format('embedded-opentype')*/,
		url('../fonts./AAA.woff') /*format('truetype')*/,
		url('../fonts./AAA.otf') /*format('opentype')*/,
		url('../fonts./AAA.woff') ,
		url('../fonts./AAA.svg') /*format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: 'b';
	src:url('../fonts./Helvetica Bold.eot') /*format('embedded-opentype')*/,
		url('../fonts./Helvetica Bold.otf') /*format('truetype')*/,
		url('../fonts./Helvetica Bold.svg') /*format('opentype')*/,
		url('../fonts./Helvetica Bold.ttf') ,
		url('../fonts./Helvetica Bold.woff') /*format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
.head{
	height: 112px;
}
.center{
	width: 1202px;
	margin: auto;
	position: relative;
}
.douban_logo{
	position: absolute;
	top: 30px;
}
.head_list{
	width: 430px;
	height: 20px;
	position: absolute;
	right: 320px;
	top: 56px;
}
.navi{
	float: left;
	font-size: 18px;
	margin-right: 35px;
	font-weight: bold;
	height: 20px;
	line-height:20px;
	padding: 0px 3px 0px 3px;
	cursor: pointer;
	font-family: 'b';
}
.phone{
	position:absolute;
	top: 50px;
	right: 280px;
	cursor: pointer; 
}
.pop_window{
	width: 300px;
	height: 300px;
	border-radius: 10px;
	position: relative;
	margin: auto;
	top: -310px;
	background-color: white;
	border:3px solid  #FEDFE1 ;
}
.pop_window_img{
	width: 200px;
	height: 200px;
	position:absolute;
	left: 50px;
	top: 50px;
}
.close{
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
}
.HOME{
	color: #71CDD8;
	border-left: 4px #FEDFE1 solid;
	border-right: 4px #FEDFE1 solid;
}
.navi:hover{
	color: #71CDD8;
}
.head_search_div{
    width: 270px;
	height: 112px;
	position: absolute;
	right: 0px;
}
.head_search{
	width: 200px;
	height: 33px;
	position: absolute;
	border: 2px #FEDFE1 solid;
	border-radius: 10px;
	top: 49px;
	right: 49px;
	color:grey;
	padding-left: 10px;
	outline: none;
}
.search_img{
	position: absolute;
	right: 10px;
	top: 54px;
	cursor: pointer;
}
.turn{
	height: 646px;
	width: 100%;
}
.fen{
	position: relative;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 50px;
}
.fen_line{
	position: absolute;
	top: 20px;
}
.fen h2{
	font-family:'a';
	font-size: 48px;
	margin: auto;
	width: 158px;
	padding-left: 12px;
	padding-right: 12px;
	border-left: 4px #FEDFE1 solid;
	border-right: 4px #FEDFE1 solid;

}
.collect_book{
	width:1200px;
	height:832px; 
	position: relative; 
}
.book{
	width: 200px;
	height: 280px;
	float: left;
	position: relative;
	margin-right: 69px;
}
.cover{
	width: 200px;
	height: 280px;
}
.coverage{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 280px;
	cursor: pointer;
	transition:0.8s;
	opacity: 0;
}
.white_background{
	width: 200px;
	height: 280px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color:rgba(255, 255, 255, 0);
	transition:0.8s;
}
.book_div{
	width: 1085px;
	height: 780px;
	position: absolute;
	left: 100px;
	top: 40px;
}
.book_intros{
	width: 160px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 51px;
	background-color:rgba(255, 255, 255, 0.8);
	transition: 0.8s;
	padding: 20px;
}
.book:hover .book_intros{
	opacity: 0;
}
.second_line{
	margin-top: 91px;
	margin-bottom: 40px;
}
.book:hover .coverage{
	opacity: 1;
}
.book:hover .white_background{
	background-color:rgba(255, 255, 255, 0.8);
}
.all{
	background-color: rgb(232, 244, 9);
	width: 300px;
	height: 80px;
	outline: none;
	border:none;
	border-radius: 10px;
	margin: 40px auto 0px auto;
	font-family: 'b';
	letter-spacing: 2px;
	display: block;
	position: relative;
	cursor: pointer;
	position: relative;
	right: 40px;
}
.arrow{
	position: absolute;
	right: 35px;
	top: 33px;
}
.picture{
	height: 349px;
	clear: both;
}
.left_arrow{
	position: absolute;
	left: -58px;
	top: 123px;
	cursor: pointer;
}
.right_arrow{
	position: absolute;
	right: -58px;
	top: 123px;
	cursor: pointer;
}
.point{
	width: 140px;
	height: 10px;
	margin: 30px auto 0px auto;
}
.circle{
	background:rgba(242,242,242,1);
	width: 10px;
	height: 10px;
	border-radius: 5px;
	float: left;
	margin-right: 30px;
	cursor: pointer;
}
.special{
	background-color: #E8F409;
}
.text_div{
	height: 349px;
}
.text1{
	width: 556px;
	height: 349px;
    position: relative;
    float: left;
    cursor: pointer;
}
.text1_img{
	width: 556px;
	height: 349px;
	z-index: 2;
}
.message{
	width:143px;
	height:80px; 
	background-color: white;
	position: absolute;
	left: 0px;
	bottom: 46px;
}
.book_name{
	color: #71CDD8;
	position: absolute;
	left: 10px;
	top: 17px;
	font-size: 16px;
	font-family: 'a';
}
.book_intro{
	position: absolute;
	left: 10px;
	top: 47px;
	font-size: 16px;
	font-family: 'a';
}
.text2{
	position: relative;
	width: 556px;
	height: 349px;
	float: right;
	cursor: pointer;
}
.article{
	height: 670px;
	margin-top: 110px;
}
.article_left{
	width: 546px;
	height: 670px;
	float: left;
	font-size: 20px;
	color: #00AFDB;
}
.article_left h3{
	margin-top: 20px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.article_right{
	width: 546px;
	height: 670px;
	float: right;
	font-size: 20px;
	color: #00AFDB;
}
.article_right h3{
	margin-top: 20px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.spread{
	height: 200px;
}
.spread_div{
	height: 200px;
	width: 90px;
	float: left;
	position: relative;
}
.spread_media{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: #E8F409;
	position: absolute;
	top: 35px;
}
.spread_media:hover{
	background-color: #F7BDCA;
}
.spread_media:hover span{
	color: #F7BDCA; 
}
.label{
	font-size: 16px;
	position: absolute;
	color: #71CDD8;
	top: 104px;
	left: 13px;
}
.label:hover{
	color: #F7BDCA;
}
.foot{
	height: 146px;
	width: 100%;
	background-color: #AAE1E8;
	position: relative;
}
.foot_menu{
	width: 100%;
	position: absolute;
	top: 30px;
}
.foot_menu li{
	width: 20%;
	text-align: center;
	float: left;
	color: white;
	font-size: 20px;
	letter-spacing: 3px;
	cursor: pointer;
}
.copyright{
	padding-top: 88px;
	color: white;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
}