*{
	padding: 0px;
	margin: 0px;
	border: 0px;
}
a{
	text-decoration: none;
}
.container{
	height: 1276px;
	width: 100%;
	background-image: url('../imgs./ff563.png');
	background-repeat: no-repeat;
	background-size:100% 1276px;
}
.center{
	margin: auto;
	width: 800px;
	background-color: yellow;
	position: relative;
}
.douban{
	position: absolute;
	top: 164px;
	left: 350px;
	display: block;
	margin: auto;
}
.form{
	width: 800px;
	height: 544px;
	background-color: white;
	position: absolute;
	top: 357px;
}
.register{
	float: left;
	width: 400px;
	height: 88px;
	text-align: center;
	line-height: 88px;
	font-size: 20px;
	color: #AAE1E8;
	cursor: pointer;
}
.in{
	background-color: white;
}
.loginin{
	background-color:#F7F7F7;
}
.main1,.main2,.main3{
	position: absolute;
	height: 456px;
	top: 88px;
	width: 800px;
}
.main1{
	display: block;
}
.main2{
	display: block;
}
.main3{
	display: block;
}
.input_div{
	width: 410px;
	margin: 50px auto 0px auto;
	position: relative;
	height: 53px;
	position: relative;
}
.wrong{
	position: absolute;
	height: 50px;
	bottom:-50px;
	width: 250px;
	line-height: 50px;
	font-size: 14px;
	padding-left: 10px;
	color: red;
}
.input_div span{
	color: #AAE1E8;
	font-size: 20px;
	position: absolute;
	top: 11px;
}

.main1_input{
	height:53px;
	border: none;
	outline: none;
	border-radius: 10px;
	font-size: 14px;
	padding-left: 10px;
	border:2px solid #D9D9D9;
}
.username{
	position: absolute;
	right: 0px;
	width: 309px;
}
.password_span{
	left: 5px;
}
.password{
	width: 309px;
	position: absolute;
	right: 0px;
}
.checkword{
	position: absolute;
	left: 88px;
	width: 140px;
}
.checkimg{
	width: 127px;
	height:54px;
	position: absolute;
	left: 280px;
}
.button{
	width:410px;
	height:50px;
	background-color: #AAE1E8;
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
	border-radius: 10px;
	margin: 50px auto 0px 200px;
	cursor: pointer;
}
.forget{
	position: absolute;
	left: 540px;
	top: 124px;
	color: #05668D;
	cursor: pointer;
}
.main2_input{
	height:53px;
	width: 200px;
	border: none;
	outline: none;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	font-size: 14px;
	padding-left: 10px;
	border-left: 2px solid #D9D9D9;
	border-top: 2px solid #D9D9D9;
	border-bottom: 2px solid #D9D9D9;
}
.send{
	width: 109px;
	height: 53px;
	position: absolute;
	right: 0px;
	background-color: #D9D9D9;
	font-size: 14px;
	border-top: 2px solid #D9D9D9;
	border-bottom: 2px solid #D9D9D9;
	border-right: 2px solid #D9D9D9;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	line-height: 53px;
}

