*{
	font-family: 微软雅黑, sans-serif;}
@font-face{
	font-family: 'a';
	src:url('../fonts./AAA.eot') /*format('embedded-opentype')*/,
		url('../fonts./AAA.woff') /*format('truetype')*/,
		url('../fonts./AAA.otf') /*format('opentype')*/,
		url('../fonts./AAA.woff') ,
		url('../fonts./AAA.svg') /*format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: 'b';
	src:url('../fonts./Helvetica Bold.eot') /*format('embedded-opentype')*/,
		url('../fonts./Helvetica Bold.otf') /*format('truetype')*/,
		url('../fonts./Helvetica Bold.svg') /*format('opentype')*/,
		url('../fonts./Helvetica Bold.ttf') ,
		url('../fonts./Helvetica Bold.woff') /*format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
a{
	text-decoration: none;
	cursor: pointer;
}
.head{
	height: 112px;
}
.center{
	width: 1202px;
	margin: auto;
	position: relative;
}
.douban_logo{
	position: absolute;
	top: 30px;
}
.head_list{
	width: 430px;
	height: 20px;
	position: absolute;
	right: 320px;
	top: 55px;
}
.navi{
	float: left;
	font-size: 18px;
	margin-right: 35px;
	font-weight: bold;
	height: 20px;
	line-height:20px;
	padding: 0px 3px 0px 3px;
	cursor: pointer;
	font-family: 'b';
}
.ARTICLE{
	color: #71CDD8;
	border-left: 4px #FEDFE1 solid;
	border-right: 4px #FEDFE1 solid;
}
.navi:hover{
	color: #71CDD8;
}
.head_search_div{
    width: 300px;
	height: 112px;
	position: absolute;
	right: 0px;
}
.head_search{
	width: 200px;
	height: 33px;
	position: absolute;
	border: 2px #FEDFE1 solid;
	border-radius: 10px;
	top: 49px;
	right: 49px;
	color:grey;
	padding-left: 10px;
	outline: none;
}
.search_img{
	position: absolute;
	right: 10px;
	top: 54px;
	cursor: pointer;
}
.blue_fen{
	width: 100%; height: 2px;
	background-color: #71CDD8;
	margin-bottom: 60px;
}
.main{
	width: 100%;
	overflow: hidden;
}
.main_left{
	width: 671px;
	float: left;
}
.main_right{
	width: 453px;
	float: right;
}
.left_head{
	height: 158px;
	width: 671px;
	position: relative;
	box-shadow: 1px 1px 5px rgb(207,207,207);
}
.left_text{
	width: 631px;
	padding: 20px;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 3px;
}
.left_copyright{
	height: 50px;
	width: 651px;
	margin-top: 20px;
	padding-left: 20px;
	line-height: 25px;
	color: #999999;
}
.text_head{
	font-size: 28px;
	position: absolute;
	top: 20px;
	line-height: 20px;
}
.user_img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	top: 70px;
}
.user_name{
	color: #0EC2D8;
	font-size: 18px;
	position: absolute;
	top:80px;
	left: 80px;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.date{
	font-size: 16px;
	color: #333333;
	position: absolute;
	left: 182px;
	top: 82px;
}
.love,.love1{
	position: absolute;
	left: 300px;
	top: 80px;
}
.right_head{
	height: 93px;
	width: 453px;
	position: relative;
	background-color: #71CDD8;
}
.right_main{
	height: 643px;
	width: 433px;
	padding: 10px;
	box-shadow: 1px 1px 5px rgb(207,207,207);
}
.right_name{
	line-height: 93px;
	color: white;
	position: absolute;
	left:20px;
	font-size: 24px;
	letter-spacing: 2px;
}
.right_text_name{
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 40px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	color: #00AFDB;
}
.spread{
	height: 200px;
}
.spread_div{
	height: 200px;
	width: 90px;
	float: left;
	position: relative;
}
.spread_media{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: #E8F409;
	position: absolute;
	top: 35px;
}
.spread_media:hover{
	background-color: #F7BDCA;
}
.spread_media:hover span{
	color: #F7BDCA; 
}
.label{
	font-size: 16px;
	position: absolute;
	color: #71CDD8;
	top: 104px;
	left: 13px;
}
.label:hover{
	color: #F7BDCA;
}
.foot{
	height: 146px;
	width: 100%;
	background-color: #AAE1E8;
	position: relative;
}
.foot_menu{
	width: 100%;
	position: absolute;
	top: 30px;
}
.foot_menu li{
	width: 20%;
	text-align: center;
	float: left;
	color: white;
	font-size: 20px;
	letter-spacing: 3px;
	cursor: pointer;
}
.copyright{
	padding-top: 88px;
	color: white;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
}
.tiao{
	position: fixed;
	top: 310px;
	right: 200px;
	width: 96px;
	height: 96px;
	background-color: #AAE1E8;
	cursor: pointer;
	z-index: 10000;
}
.arrow{
	position:relative;
	left: 18px;
	top: 22px;
	cursor: pointer;
}