*{
	font-family: 微软雅黑, sans-serif;}
@font-face{
	font-family: 'a';
	src:url('../fonts./AAA.eot') /*format('embedded-opentype')*/,
		url('../fonts./AAA.woff') /*format('truetype')*/,
		url('../fonts./AAA.otf') /*format('opentype')*/,
		url('../fonts./AAA.woff') ,
		url('../fonts./AAA.svg') /*format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: 'b';
	src:url('../fonts./Helvetica Bold.eot') /*format('embedded-opentype')*/,
		url('../fonts./Helvetica Bold.otf') /*format('truetype')*/,
		url('../fonts./Helvetica Bold.svg') /*format('opentype')*/,
		url('../fonts./Helvetica Bold.ttf') ,
		url('../fonts./Helvetica Bold.woff') /*format('svg')*/;
    font-weight: normal;
    font-style: normal;
}
.head{
	height: 112px;
}
.center{
	width: 1202px;
	margin: auto;
	position: relative;
}
.douban_logo{
	position: absolute;
	top: 30px;
}
.head_list{
	width: 700px;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 50px;
}
.navi{
	float: left;
	font-size: 18px;
	margin-right: 35px;
	font-weight: bold;
	height: 20px;
	line-height:20px;
	padding: 0px 3px 0px 3px;
	cursor: pointer;
	font-family: 'b';
}
.INFORMATION{
	color: #71CDD8;
	border-left: 4px #FEDFE1 solid;
	border-right: 4px #FEDFE1 solid;
}
.navi:hover{
	color: #71CDD8;
}
.background{
	height: 392px;
	background-image: url("../imgs./uiiguh.png");
	background-repeat: no-repeat;
	width: 100%;
}
.user{
	width: 550px;
	margin:auto;
	height:392px;
	position: relative;
	border-top: 1px solid transparent;
}
.name{
	font-size: 38px;
	color: white;
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
}
.pop{
	height: 100px;
	width: 150px;
	display: none;
	position: absolute;
	top: 140px;
	right: 40px;
}
.tri{
	position: absolute;
	top: 40px;
	left: 1px;
}
.block{
	position: absolute;
	height: 100px;
	width: 160px;
	border:1px solid grey;
	border-radius: 10px;
	background-color:rgba(255,255,255,0.5);
	right: -20px;
}
.buu{
	width: 50px;
	height: 20px;
	margin: 15px auto 0px auto;
	display: block;
	border-radius: 3px;
	background-color: white;
	border:1px solid #F7BDCA;
}
/*.emm{
	position: absolute;
}*/
.portrait{
	display: block;
	margin:auto;
	width: 134px;
	height: 134px;
	border-radius: 50%;
	cursor: pointer;
}
.sign{
	outline: none;
	border:none;
	width: 470px;
	margin-left: 40px;
	margin-top: 60px;
	height: 20px;
	font-size: 20px;
	background-color: transparent;
	color: white;
}
.white{
	position: absolute;
	right: 4px;
	bottom: 44px;
	cursor: pointer;
}
.main{
	height: 640px;
}
.fen{
	position: relative;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 50px;
}
.fen_line{
	position: absolute;
	top: 20px;
}
.fen h2{
	font-family:'a';
	font-size: 48px;
	margin: auto;
	width: 158px;
	padding-left: 12px;
	padding-right: 12px;
	border-left: 4px #FEDFE1 solid;
	border-right: 4px #FEDFE1 solid;
}
.message{
	width: 260px;
	height: 270px;
	margin:100px auto 0 auto;
}
.save{
	margin: 30px auto 0px auto;
	width: 140px;
	height: 59px;
	background-color: #00AFDB;
	border:none;
	outline: none;
	border-radius: 10px;
	display: none;
	color: white;
	letter-spacing: 2px;
}
.div{
	margin-top: 30px;
	height: 39px;
	position: relative;
}
.input{
	width: 160px;
	outline: none;
	border:none;
	height: 39px;
	font-size: 20px;
	position: relative;
	bottom: 10px;
	left: 5px;
}
.white2,.white3,.white4{
	position: absolute;
	right: 5px;
	top:8px; 
}
.spread{
	height: 200px;
}
.spread_div{
	height: 200px;
	width: 90px;
	float: left;
	position: relative;
}
.spread_media{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: #E8F409;
	position: absolute;
	top: 35px;
}
.spread_media:hover{
	background-color: #F7BDCA;
}
.spread_media:hover span{
	color: #F7BDCA; 
}
.label{
	font-size: 16px;
	position: absolute;
	color: #71CDD8;
	top: 104px;
	left: 13px;
}
.label:hover{
	color: #F7BDCA;
}
.foot{
	height: 146px;
	width: 100%;
	background-color: #AAE1E8;
	position: relative;
}
.foot_menu{
	width: 100%;
	position: absolute;
	top: 30px;
}
.foot_menu li{
	width: 20%;
	text-align: center;
	float: left;
	color: white;
	font-size: 20px;
	letter-spacing: 3px;
	cursor: pointer;
}
.copyright{
	padding-top: 88px;
	color: white;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
}
@media screen and (min-width:980px) and (max-width:1423px){
	.center{
		width: 100%;
	}
	.fen_line{
		width: 100%;
	}
}